<br>
<h1>Seja bem-vindo adm</h1>
<nav>
    <a href="/cadastrarProduto">Cadastrar Produto</a>&emsp;
    <a href="/listarProduto">Listar Produto</a>&emsp;
    <a href="/editarProduto">Editar Produto</a>&emsp;
    <a href="/excluirProduto">Excluir Produto</a>
</nav>
<br><br>
{{#if msg}}
    <p>{{msg}}</p>
{{/if}} 