h1 {
    color: black;
    text-align: center; 
}

#itens_carrinho {
    list-style-type: none;
    padding: 0;
}

#itens_carrinho li {
    border-bottom: 1px solid #ccc; 
    padding: 10px; 
}

p {
    text-align: center; 
}
button {
    background-color: #4CAF50; 
    color: black; 
    padding: 10px 15px; 
    border: none; 
    cursor: pointer; 
    margin-top: 15px; 
}

#mensagem_compra {
    color: black; 
    text-align: center; 
    margin-top: 15px; 
}